
:root {
--backgroundcolor-main: #191412;
--backgroundcolor-alt1: #120d0b;
--backgroundcolor-alt2: #0c0806; 
--backgroundcolor-alt3: #5e5d5c; 

--color-main1: #ff6565;
--color-main2: #ff9175;
--color-main3: #ffb0a1;
--color-main4: #fd9b89;
--color-main5: #ffc5b6;
}

<style>
body {
width: 99%;
background-color: var(--backgroundcolor-main);
color:white;
font-family: 'Quicksand';
font-size: 14px;
}
	
outer-box {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.box1 {
	width: 60%;
	margin: auto;
	}

.box2 {
	margin: 100px 0 0 0;
	}


.header {
	font-size: 65px;
	font-family: 'Danfo', sans-serif;
	xfont-weight: 900;
	xletter-spacing: -3px;
	margin: 50px 0 0 0;
	cursor: default;
	text-shadow: 3px 5px 1px var(--backgroundcolor-alt1);
	}

.sub{
	font-size: 18px;
	padding: 8px 14px 8px 14px;
	border-radius: 8px;
	background-color: var(--backgroundcolor-alt1);
	font-family:'Quicksand', sans-serif;
	font-weight: bold;
	color: white;
	width: fit-content;
	letter-spacing: normal;
	margin: 10px 0 0 0;
	text-shadow: none;
	}

.album {
	display: grid;
	margin: 125px 0px 125px 0px;
	grid-template-columns: 50% 50%;
	}

.album .desc {
	font-size: 18px;
	font-family:'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: normal;
	margin: 0 0 0 30px;
	}

.album .desc .name {
font-size: 40px;
font-weight: 800;
cursor: default;
}

.album .desc .artist {
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 20px 0;
	}

.album .desc .info {
	margin: 0 0 5px 0;
	font-weight: 500;
	}

.album .desc .buttons {
	flex-wrap: wrap;
	margin: 0 0 0 -2px;
	cursor: default;
	}

.album .desc .buttons .button {
margin: 2px -1px 0 0;
background-color: var(--backgroundcolor-alt1);
border-radius: 7px;
text-align: center;
padding: 2px 6px 2px 6px;
font-size: 12px;
transition: 0.1s ease-in-out;
}

.album .desc .buttons .button:hover {
	background-color: var(--backgroundcolor-alt2);
	color: var(--color-main3);
	}

.hover-letter {
display: inline-block; /* Necessary for transform effects */
transition: transform 0.1s ease-in-out, color 0.1s ease-in-out; /* Smooth transition for hover effects */
}

::selection {
	background-color: var(--backgroundcolor-alt3); /* Choose your background color */
	color: var(--color-main1); /* Choose your text color */
}

/*Edit for small screens*/
@media only screen and (max-width: 1600px) {

.box1 {
	width: 90%;
}

.header {
	font-size: 35px;
	margin: 25px 0 0 0;
	word-wrap: break-word;
	}

.album .desc {
	font-size: 12px;
	}

.album .desc .name {
	font-size: 20px;
	}

.sub {
	font-size: 12px;
}
	
}
</style>
